@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<OnlyRide.Dnn.ServiceBooking.Models.Booking>

@using System.Collections.Generic
@using DotNetNuke.Web.Mvc.Helpers

<div id="Booking-@Dnn.ModuleContext.ModuleId" class="dnnForm">
    @using (Html.BeginForm("Edit", "Booking", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(m => m.BookingId)
        @Html.HiddenFor(m => m.ModuleId)

        <h2 class="dnnFormSectionHead">
            <a href="#">Foglalás Részletei</a>
        </h2>
        <fieldset>
            <div class="dnnFormItem">
                <div><label for="ServiceTypeId">Szerviz típusa (ID egyelőre)</label></div>
                @Html.TextBoxFor(m => m.ServiceTypeId)
            </div>

            <div class="dnnFormItem">
                <div><label for="SlotId">Időpont (ID egyelőre)</label></div>
                @Html.TextBoxFor(m => m.SlotId)
            </div>

            <div class="dnnFormItem">
                <div><label for="CustomNote">Megjegyzés / Hiba leírása</label></div>
                @Html.TextAreaFor(m => m.CustomNote, new { rows = "4" })
            </div>
        </fieldset>

        @* Ezt a részt csak az adminok/szerelők látják, ha szerkesztő módban vannak az oldalon *@
        @if (Dnn.ModuleContext.IsEditable)
        {
            <h2 class="dnnFormSectionHead">
                <a href="#">Szerelői adatok (Karbantartás)</a>
            </h2>
            <fieldset>
                <div class="dnnFormItem">
                    <div><label for="Status">Státusz</label></div>
                    @Html.DropDownListFor(m => m.Status, new SelectList(new[] { "Pending", "Confirmed", "Done" }))
                </div>
                <div class="dnnFormItem">
                    <div><label for="ActualMinutes">Tényleges munkaidő (perc)</label></div>
                    @Html.TextBoxFor(m => m.ActualMinutes)
                </div>
                <div class="dnnFormItem">
                    <div><label for="ActualPrice">Tényleges ár (Ft)</label></div>
                    @Html.TextBoxFor(m => m.ActualPrice)
                </div>
            </fieldset>
        }

        <div style="margin-top: 20px;">
            <button type="submit" class="dnnPrimaryAction">Mentés</button>
            <a id="cancelEdit" href="#" class="dnnSecondaryAction">Mégse</a>
        </div>
    }
</div>

<script type="text/javascript">
    /*globals jQuery, window, Sys */
    (function ($, Sys) {
        $(function () {
            $('#cancelEdit').click(function () { dnnModal.closePopUp(false); });
        });
    }(jQuery, window.Sys));
</script>